.wrapper {
  max-width: 1380px;
  margin: 0px auto;
  width: 90%;
  box-sizing: border-box;
  padding: 0 20px;
}
.header-wrapper {
  background: #ffffff;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.06);
  border-radius: 3em;
  padding: 1em 2em;
  max-width: 1600px;
}
.content-wrapper {
  background: linear-gradient(
    62deg,
    rgba(249, 249, 249, 0.54) 0%,
    rgba(244, 225, 245, 0.54) 100%
  );
  width: 100%;
  padding-top: 8em;
  width: 100%;
}
.content-wrapper-service-det {
  background: linear-gradient( 245deg, #f7eff7 0, #f8f6f8 100% ) !important;
  width: 100%;
  padding-top: 8em;
  overflow: hidden;
}
.content-wrapper-serviceIndex {
  background: linear-gradient(
    145deg,
    rgb(240 254 254 / 100%) 0%,
    rgb(2247 248 255 / 100%) 51%,
    rgb(254 243 255 / 100%) 100%
  );
  width: 100%;
}
.content-wrapper-service-det h1 {
  font-size: 100px;
  line-height: 1;
}
.content-wrapper-serviceIndex #wordpress-development .serviceImageBox {
  top: unset;
  transform: unset;
  bottom: 0;
  width: 26%;
}
.content-wrapper-serviceIndex #web-hosting .serviceImageBox {
  top: unset;
  transform: unset;
  bottom: 0;
}
.content-wihtout-gradientService #email-newsletter-design .serviceImageBox {
  top: unset;
  transform: unset;
  bottom: 0;
  width: 25%;
}
.singleService h2 {
  font-size: 40px;
}
.footerPage {
  background: #f9f9f9;
  width: 100%;
  padding: 3em 0 1em;
  margin: 0;
}
.content-wrapper-service {
  background: linear-gradient(
    145deg,
    rgb(254 243 255) 0%,
    rgb(247 248 255) 48%,
    rgb(240 254 254) 100%
  );
  margin-top: 20em;
  width: 100%;
  padding-bottom: 6em;
}

section {
  margin-top: 4em;
}

.divider {
  margin-top: 4em;
  background-color: #90909057;
  width: auto;
  height: 3px;
  padding: 0px;
}

/* second title */
h1 {
  font-size: 4em;
  font-weight: 800;
}

/* second title */
h2 {
  font-size: 3em;
  font-weight: 800;
}

/* subtitle */

h3 {
  font-size: 2em;
  font-weight: 700;
}

/* card code*/

h4 {
  font-size: 1.7em;
  font-weight: 700;
}

/* points something */
h5 {
  font-size: 1.4em;
  font-weight: 700;
}

/* tackle  */
h6 {
  margin-top: 1em;
  font-size: 1em;
}
p {
  font-size: 18px;
}

a {
  text-decoration: none;
}
a:hover {
  color: #5f45ff;
}

@media screen and (max-width: 780px) {
  h2 {
    font-size: 2.3em;
  }
  h3 {
    font-size: 1.7em;
  }
}

#root {
  /* background-color: #f9f9f9; */
}

.aboutTopBlock .homeContent:before,
.serviceLandingPage .homeContent:before {
  top: 44%;
  right: 160px;
  height: 290px;
}
.aboutTopBlock .homeImageBox {
  width: 120%;
  margin-left: -10%;
  margin-bottom: -50px;
  padding-top: 50px;
}
.serviceLandingPage .homeImageBox {
  position: absolute;
  width: 50%;
  max-width: 900px;
}
.serviceLandingPage {
  position: relative;
  min-height: 330px;
}
.serviceLandingPage .homeImageBox img {
  width: 100%;
}
.ProjectRatingPageHome .funFact_review_items {
  position: relative;
  padding-left: 57px;
}
.ProjectRatingPageHome .funFact_review_items .review_icon {
  display: flex;
  align-items: center;
  position: absolute;
  width: 50px;
  height: 55px;
  left: -15px;
  top: 14px;
}
.ProjectRatingPageHome .funFact_review_items .review_icon img {
  width: 100%;
}
.ProjectRatingPageHome .funFact_review_items:after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 70px;
  height: 70px;
  background: linear-gradient(
    135deg,
    rgb(250 205 254 / 80%) 0%,
    rgb(217 220 253 / 80%) 51%,
    rgb(181 249 250 / 80%) 100%
  );
  border-radius: 100%;
  opacity: 0.3;
}
.ProjectRatingPageHome .singleRatingHome {
  width: 20%;
  flex: none;
}
.CultureRowBlock {
  justify-content: space-between;
  grid-gap: 20px;
  padding: 0 20px;
  max-width: 100%;
  margin: auto;
}
.CultureRowBlock .col {
  width: calc(20% - 20px);
  padding: 0;
}
.CultureRowBlock .OurWorkCulture img {
  width: 100%;
}
.aboutWorkCulture {
  padding-bottom: 100px;
}

.singleService {
  position: relative;
  padding: 140px 0;
}
.singleService .serviceList {
  margin: 0;
}
.singleService .serviceList h2 {
  font-size: 40px;
}
.singleService .serviceList .wrapper {
  max-width: 1180px;
}
.singleService .serviceDetail p,
.singleService .serviceDetail a {
  display: inline;
  margin-bottom: 0;
  line-height: 1.6;
}
.singleService .serviceDetail a {
  margin-left: 5px;
  font-style: italic;
  border-bottom: 1px solid #d66ad6;
}
.content-wihtout-gradientService .serviceImageBox {
  position: absolute;
  top: 50%;
  left: -10%;
  transform: translateY(-50%);
  width: 38%;
  z-index: 1;
}
.content-wihtout-gradientService .serviceImageBox img {
  width: 100%;
}
.content-wrapper-serviceIndex .serviceImageBox {
  position: absolute;
  top: 50%;
  right: -10%;
  transform: translateY(-50%);
  width: 38%;
  z-index: 1;
}
.content-wrapper-serviceIndex .serviceImageBox img {
  width: 100%;
}
.contactLandingPage {
  background-image: url("../assets/contact/contact-page-bg.png");
  background-repeat: no-repeat;
  background-position: center right;
  background-size: cover;
  position: relative;
  z-index: 1;
}
#learndash-development .serviceImageBox,
#web-maintenance .serviceImageBox {
  width: 50%;
  right: -15%;
}
#web-development .serviceImageBox,
#seo .serviceImageBox {
  width: 50%;
  left: -15%;
}

.contactLandingPage .homeContent .homeContentInner {
  max-width: 550px;
  width: 100%;
}
.contactLandingPage .serviceLandingPage .homeImageBox {
  max-width: 460px;
  top: -40px;
}
.serviceDetPageExp {
  position: relative;
  padding-top: 150px;
  padding-bottom: 150px;
}
.serviceDetPageExp .serviceExpImg {
  position: absolute;
  top: 70px;
  right: -140px;
  width: 50%;
  max-width: 900px;
}
.serviceDetPageExp .serviceExpImg img {
  max-width: 100%;
}
.serviceDetPageExp .serviceExpContent p {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.6;
}
.serviceExpContent {
  position: relative;
}
.serviceExpContent:before {
  position: absolute;
  content: '';
  left: -50px;
  top: -70px;
  width: 150px;
  height: 150px;
  background: linear-gradient( 145deg, rgb(254 243 255) 0%, rgb(247 248 255) 48%, rgb(240 254 254) 100% );
  border-radius: 100%;
  z-index: -1;
}
.serviceExpContent:after {
  position: absolute;
  content: '';
  right: -50px;
  bottom: -70px;
  width: 70px;
  height: 70px;
  background-image: url('../assets/service/service-detail-icon.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  z-index: -1;
}
.serviceBrand .serviceContain {
  position: relative;
  max-width: 550px;
  margin: auto;
  width: 100%;
  padding-bottom: 50px;
}
.brandBox .brandItems p {
  color: #747373;
  font-size: 17px;
  font-weight: 800;
  opacity: 0.32;
  text-transform: uppercase;
  display: flex;
  flex-wrap: nowrap;
}
.serviceBrand .serviceContain::before {
  position: absolute;
  content: '';
  left: -100px;
  top: -20px;
  width: 40px;
  height: 40px;
  background-image: url('../assets/service/service-x-icon.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  z-index: -1;
}
.serviceBrand .serviceContain::after {
  position: absolute;
  content: '';
  right: -50px;
  bottom: 20px;
  width: 40px;
  height: 40px;
  background-image: url('../assets/service/service-circle-icon.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  z-index: -1;
}
.contactLandingPgae .homeImageBox {
  max-width: 440px;
}
.nav-menu li .nav-links:after {
  position: absolute;
  content: '';
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  opacity: 0;
  background: var(--primary);
}
.nav-menu li .nav-links.active:after {
  opacity: 1;
}




@media only screen and (min-width: 2000px) {
  .serviceDetPageExp .serviceExpImg {
      position: absolute;
      right: 0;
    }
}

@media screen and (max-width: 1366px) {
  h1 {
    font-size: 3.8em;
  }
  .ProjectHomePage {
    padding-top: 80px;
  }
}
@media screen and (max-width: 1200px) {
  .content-wrapper-service-det h1 {
    font-size: 80px;
  }
  .ProjectRatingPageHome .singleRatingHome {
    width: 25%;
  }
  .aboutTopBlock .homeImageBox {
    width: 100%;
    margin: 0 !important;
  }
  .aboutTopBlock {
    padding-bottom: 50px;
  }
  .serviceDetPageExp {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
@media screen and (max-width: 1024px) {
  .wrapper {
    width: 100%;
  }
  #learndash-development .serviceImageBox, #web-maintenance .serviceImageBox {
      width: 100%;
      right: 0;
  }
  #web-development .serviceImageBox, #seo .serviceImageBox {
      width: 100%;
      left: 0;
  }
  .serviceDetailLanding .flex-row-reverse {
    padding-bottom: 0 !important;
  }
  .content-wrapper-service-det h1 {
    font-size: 70px;
  }
  .singleService {
    padding: 40px 0;
  }
  .content-wihtout-gradientService .serviceImageBox,
  .content-wrapper-serviceIndex .serviceImageBox {
    position: unset;
    top: unset;
    left: unset;
    transform: unset;
    width: 100%;
    padding-bottom: 25px;
    max-width: 550px;
  }
  .serviceLandingPage .homeImageBox {
    position: relative;
    width: 100%;
  }
  .contactLandingPgae .homeImageBox {
    right: 0;
    max-width: 370px;
    top: 0;
  }
  .ProjectRatingPageHome .singleRatingHome {
    width: 50%;
  }
  section {
    margin-top: 2em;
  }
  h1 {
    font-size: 3.4em;
  }
  .CultureRowBlock {
    margin-top: 0 !important;
  }
  .ProjectHomePage {
    padding-top: 0;
  }
  .serviceDetPageExp .serviceExpImg {
    position: relative;
    top: unset;
    right: unset;
    width: 100%;
    max-width: 100%;
    padding-bottom: 40px;
  }
  .serviceDetPageExp {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .serviceDetPageExp .serviceExpImg img {
    max-width: 600px;
  }
  .norWordBreak h3 {
    font-size: 40px;
  }
  .norWordBreak {
    min-width: 800px;
  }
  .content-wrapper-service {
    margin-top: 17em;
  }
  .serviceBrand .serviceContain {
    padding-bottom: 0;
  }
}
@media screen and (max-width: 992px) {
  .serviceDetPageExp .row {
    flex-direction: column-reverse;
  }
  .norWordBreak {
    min-width: 500px;
  }
  .serviceBrand .serviceContain::before {
    left: 0;
    top: -40px;
  }
  .serviceBrand .serviceContain::after {
    right: 0px;
  }
}
@media screen and (max-width: 767px) {
  .serviceBrand .ServiceEndButton {
    margin-top: 25px !important;
  }
  .serviceDetailContent {
    margin-top: 0 !important;
  }
  .norWordBreak h3 {
    font-size: 32px;
  }
  .servicePageHome .serviceDetBussinessTitle {
    width: 100%;
    height: unset;
    background: unset !important;
    border-radius: unset;
  }
  .servicePageHome .serviceDetBussinessTitle .norWordBreak {
    left: 0;
    text-align: center;
    min-width: unset;
  }
  .servicePageHome .serviceContentDet {
    position: unset;
    top: unset;
    transform: unset;
    padding-top: 40px;
  }
  .detailPageServices .serviceHomeCardBox {
    padding-top: 0;
  }
  .serviceDetPageExp .serviceExpContent p {
    font-size: 16px;
  }
  .serviceDetImageBox {
    top: -10em;
    width: 260px !important;
  }
  .content-wrapper-service-det h1 {
    font-size: 50px;
  }
  .content-wihtout-gradientService .serviceImageBox, .content-wrapper-serviceIndex .serviceImageBox {
    width: 100%;
  }
  .singleService {
    padding: 20px 0;
  }
  .singleService h2 {
    font-size: 32px;
  }
  .contactLandingPgae .homeImageBox {
    max-width: 70%;
  }
  .serviceLandingPage .homeImageBox {
    position: unset;
    width: 100%;
    margin: auto;
  }
  h1 {
    font-size: 3em;
  }
  .content-wrapper-service {
    margin-top: 15em;
    padding-bottom: 3em;
  }
  .header-wrapper {
    padding: 0.5em 1em;
  }
  .content-wrapper {
    padding-top: 7em;
  }
  .review_title h2 {
    font-size: 32px;
  }
  .review_comments p {
    font-size: 16px;
  }
  .ProjectHomePage {
    padding-bottom: 50px;
  }
  .CultureRowBlock {
    grid-gap: 0px;
  }
  .CultureRowBlock .col {
    width: calc(50% - 10px);
    padding: 0;
  }
  .CultureRowBlock .col:nth-child(odd) {
    margin-bottom: 2em !important;
  }
  .CultureRowBlock .col:nth-child(even) {
    margin-top: 2em !important;
  }
  .serviceDetPageExp {
    padding-top: 0;
  }
}
@media screen and (max-width: 640px) {
  .ProjectRatingPageHome .row {
    margin-top: 4em !important;
  }
  .ProjectRatingPageHome .funFact_review_items .review_icon {
    width: 40px;
    height: 45px;
    left: -5px;
  }
  .ProjectRatingPageHome .funFact_review_items:after {
    width: 60px;
    height: 60px;
  }
}
@media screen and (max-width: 480px) {
  .contactLandingPgae .homeImageBox {
    max-width: 90%;
  }
}
